:host {
  h1.mat-dialog-title {
    margin-bottom: 4px;
    line-height: 24px;
  }
  .title {
    font-weight: normal;
  }
  .action-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  strong {
    display: block;
    margin-bottom: 15px;
  }
  p {
    margin: 0 0 10px;
  }
}
