#container {
  width: 500px;
  margin: 0 auto;
  padding: 20px 0;

  .mat-card {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .info-box {
      strong {
        display: block;
        margin-bottom: 10px;
      }
      span {
        display: block;
      }
    }

    .action-box {
      min-width: 100px;
      text-align: right;
    }
  }
  .total {
    padding: 20px 0;
    text-align: center;
  }
}