<div id="container">
  <h1 class="title">Current loans</h1>
  <mat-card *ngFor="let loan of loans$ | async">
    <div class="info-box">
      <strong>{{loan.title}}</strong>
      <span>Amount: &#163;{{loan.amount | amountFormat}}</span>
      <span>Annualised return: {{loan.annualised_return}}</span>
      <span>LTV: {{loan.ltv}}</span>
    </div>
    <div class="action-box">
      <span *ngIf="loan.invested">Invested</span>
      <button mat-raised-button (click)="invest(loan)">Invest</button>
    </div>
  </mat-card>
  <div class="total">Total amount available for investments: <b>&#163;{{total | amountFormat}}</b></div>
</div>
